---
swagger: "2.0"
info:
  version: "v1"
  title: "Nuki API"
  termsOfService: "http://www.github.com/kongchen/swagger-maven-plugin"
  contact:
    name: "Nuki"
    url: "https://nuki.io"
    email: "contact@nuki.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "api.nuki.io"
basePath: "/"
tags:
- name: "Account"
- name: "AccountSubscription"
- name: "AccountUser"
- name: "Address"
- name: "AddressReservation"
- name: "AddressToken"
- name: "AdvancedApi"
- name: "ApiKey"
- name: "Company"
- name: "Notification"
- name: "Opener"
- name: "Service"
- name: "Smartlock"
- name: "SmartlockAuth"
- name: "SmartlockLog"
- name: "Subscription"
schemes:
- "https"
paths:
  /account:
    get:
      tags:
      - "Account"
      summary: "Get an account"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/MyAccount"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    post:
      tags:
      - "Account"
      summary: "Update an account"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Account update representation"
        required: true
        schema:
          $ref: "#/definitions/AccountUpdate"
        x-exportParamName: "Body"
      - name: "deleteApiTokens"
        in: "query"
        description: "If false existing API tokens are not deleted if the password\
          \ is changed"
        required: false
        type: "boolean"
        default: true
        x-exportParamName: "DeleteApiTokens"
        x-optionalDataType: "Bool"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid E-Mail address or name supplied"
        "401":
          description: "Not authorized"
        "409":
          description: "E-Mail address already exists"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "Account"
      summary: "Create an account"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Account create representation"
        required: true
        schema:
          $ref: "#/definitions/AccountCreate"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid E-Mail address, password or name supplied"
      security:
      - api_key: []
    delete:
      tags:
      - "Account"
      summary: "Delete an account"
      description: ""
      operationId: "delete"
      parameters: []
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/otp:
    post:
      tags:
      - "Account"
      summary: "Enables one time password for an account"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Account one time password enable representation"
        required: true
        schema:
          $ref: "#/definitions/AccountOtpEnable"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "One time password empty"
        "401":
          description: "Not authorized or one time password wrong"
        "429":
          description: "Too many failed attempts"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "Account"
      summary: "Create an one time password secret"
      description: ""
      operationId: "put"
      parameters: []
      responses:
        "200":
          description: "Ok"
          schema:
            type: "string"
        "405":
          description: "One time password is already enabled"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "Account"
      summary: "Disables one time password for an account"
      description: ""
      operationId: "delete"
      parameters: []
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/password/reset:
    post:
      tags:
      - "Account"
      summary: "Reset account password"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Account password reset representation"
        required: true
        schema:
          $ref: "#/definitions/AccountPasswordReset"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - api_key: []
  /account/setting:
    get:
      tags:
      - "Account"
      summary: "Get account setting"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountSetting"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "Account"
      summary: "Create or update account setting"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Account setting representation"
        required: true
        schema:
          $ref: "#/definitions/AccountSetting"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountSetting"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "Account"
      summary: "Delete an account setting"
      description: ""
      operationId: "delete"
      parameters: []
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "account"
  /account/sub:
    get:
      tags:
      - "Account"
      summary: "Get an list of sub accounts"
      description: ""
      operationId: "get"
      parameters:
      - name: "email"
        in: "query"
        description: "The optional email (regex)"
        required: false
        type: "string"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "Account"
      summary: "Create an sub account"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Account sub create representation"
        required: true
        schema:
          $ref: "#/definitions/AccountSubCreate"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/MyAccount"
        "400":
          description: "Invalid parameter supplied"
      security:
      - oauth:
        - "account"
  /account/sub/{accountId}:
    get:
      tags:
      - "Account"
      summary: "Get an sub account"
      description: ""
      operationId: "get"
      parameters:
      - name: "accountId"
        in: "path"
        description: "The account id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Account"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    post:
      tags:
      - "Account"
      summary: "Update an sub account"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Account update representation"
        required: true
        schema:
          $ref: "#/definitions/AccountSubUpdate"
        x-exportParamName: "Body"
      - name: "accountId"
        in: "path"
        description: "The account id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid parameter supplied"
        "401":
          description: "Not authorized"
        "409":
          description: "E-Mail address already exists"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "Account"
      summary: "Delete an sub account"
      description: ""
      operationId: "delete"
      parameters:
      - name: "accountId"
        in: "path"
        description: "The account id"
        required: true
        type: "integer"
        x-exportParamName: "AccountId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/subscription/pay:
    post:
      tags:
      - "AccountSubscription"
      summary: "Starts a payment for an account and returns a payment url"
      description: ""
      operationId: "post"
      parameters: []
      responses:
        "200":
          description: "Ok"
          schema:
            type: "string"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/subscription/{id}/activate:
    post:
      tags:
      - "AccountSubscription"
      summary: "Activates a previously terminated subscription"
      description: ""
      operationId: "post"
      parameters:
      - name: "id"
        in: "path"
        description: "The account subscription unique id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/subscription/{id}/terminate:
    post:
      tags:
      - "AccountSubscription"
      summary: "Terminates a running subscription"
      description: ""
      operationId: "post"
      parameters:
      - name: "id"
        in: "path"
        description: "The account subscription unique id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /account/user:
    get:
      tags:
      - "AccountUser"
      summary: "Get an list of account users"
      description: ""
      operationId: "get"
      parameters:
      - name: "email"
        in: "query"
        description: "Filter for email"
        required: false
        type: "string"
        x-exportParamName: "Email"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountUser"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
        - "smartlock.auth"
    put:
      tags:
      - "AccountUser"
      summary: "Create an account user"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Account sub create representation"
        required: true
        schema:
          $ref: "#/definitions/AccountUserCreate"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AccountUser"
        "400":
          description: "Invalid E-Mail address or name supplied"
      security:
      - oauth:
        - "account"
        - "smartlock.auth"
  /account/user/{accountUserId}:
    get:
      tags:
      - "AccountUser"
      summary: "Get an account user"
      description: ""
      operationId: "get"
      parameters:
      - name: "accountUserId"
        in: "path"
        description: "The account user id"
        required: true
        type: "integer"
        x-exportParamName: "AccountUserId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountUser"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
        - "smartlock.auth"
    post:
      tags:
      - "AccountUser"
      summary: "Update an account user"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Account update representation"
        required: true
        schema:
          $ref: "#/definitions/AccountUserUpdate"
        x-exportParamName: "Body"
      - name: "accountUserId"
        in: "path"
        description: "The account user id"
        required: true
        type: "integer"
        x-exportParamName: "AccountUserId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AccountUser"
        "204":
          description: "Ok"
        "400":
          description: "Invalid E-Mail address or name supplied"
        "401":
          description: "Not authorized"
        "409":
          description: "E-Mail address already exists"
      security:
      - oauth:
        - "account"
        - "smartlock.auth"
    delete:
      tags:
      - "AccountUser"
      summary: "Deletes asynchronous an account user"
      description: ""
      operationId: "delete"
      parameters:
      - name: "accountUserId"
        in: "path"
        description: "The account user id"
        required: true
        type: "integer"
        x-exportParamName: "AccountUserId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
        "423":
          description: "Locked"
      security:
      - oauth:
        - "account"
        - "smartlock.auth"
  /address:
    get:
      tags:
      - "Address"
      summary: "Get a list of addresses"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Address"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /address/token/{id}:
    get:
      tags:
      - "AddressToken"
      summary: "Gives some info about address token"
      description: ""
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "The token id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AddressTokenInfo"
        "401":
          description: "Not authorized"
        "404":
          description: "Token not found"
      security:
      - api_key: []
  /address/token/{id}/redeem:
    get:
      tags:
      - "AddressToken"
      summary: "Gives an redeemed address token"
      description: ""
      operationId: "get"
      parameters:
      - name: "id"
        in: "path"
        description: "The token id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AddressToken"
        "401":
          description: "Not authorized"
        "404":
          description: "Token not found"
      security:
      - oauth:
        - "account"
    post:
      tags:
      - "AddressToken"
      summary: "Redeems an address token"
      description: ""
      operationId: "post"
      parameters:
      - name: "id"
        in: "path"
        description: "The token id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      - name: "email"
        in: "query"
        description: "If false no email will be send"
        required: false
        type: "boolean"
        x-exportParamName: "Email"
        x-optionalDataType: "Bool"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid parameter given"
        "401":
          description: "Not authorized"
        "404":
          description: "Token not found"
      security:
      - oauth:
        - "account"
  /address/{addressId}:
    post:
      tags:
      - "Address"
      summary: "Update an address"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Address update representation"
        required: true
        schema:
          $ref: "#/definitions/AddressUpdate"
        x-exportParamName: "Body"
      - name: "addressId"
        in: "path"
        description: "The address id"
        required: true
        type: "integer"
        x-exportParamName: "AddressId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /address/{addressId}/reservation:
    get:
      tags:
      - "AddressReservation"
      summary: "Get a list of address reservations"
      description: ""
      operationId: "get"
      parameters:
      - name: "addressId"
        in: "path"
        description: "The address id"
        required: true
        type: "integer"
        x-exportParamName: "AddressId"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddressReservation"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /address/{addressId}/reservation/{id}/issue:
    post:
      tags:
      - "AddressReservation"
      summary: "Issues authorizations for an address reservation"
      description: ""
      operationId: "post"
      parameters:
      - name: "addressId"
        in: "path"
        description: "The address id"
        required: true
        type: "integer"
        x-exportParamName: "AddressId"
      - name: "id"
        in: "path"
        description: "The address reservation id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /address/{addressId}/reservation/{id}/revoke:
    post:
      tags:
      - "AddressReservation"
      summary: "Revoke authorizations for an address reservation"
      description: ""
      operationId: "post"
      parameters:
      - name: "addressId"
        in: "path"
        description: "The address id"
        required: true
        type: "integer"
        x-exportParamName: "AddressId"
      - name: "id"
        in: "path"
        description: "The address reservation id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /address/{addressId}/token:
    get:
      tags:
      - "AddressToken"
      summary: "Get a list of address tokens"
      description: ""
      operationId: "get"
      parameters:
      - name: "addressId"
        in: "path"
        description: "The address id"
        required: true
        type: "integer"
        x-exportParamName: "AddressId"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AddressToken"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
  /api/key:
    get:
      tags:
      - "ApiKey"
      summary: "Get a list of api keys"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ApiKey"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "ApiKey"
      summary: "Create an api key"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Api key create representation"
        required: true
        schema:
          $ref: "#/definitions/ApiKeyCreate"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiKey"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /api/key/{apiKeyId}:
    post:
      tags:
      - "ApiKey"
      summary: "Update an api key"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Api key update representation"
        required: true
        schema:
          $ref: "#/definitions/ApiKeyUpdate"
        x-exportParamName: "Body"
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid parameter given"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "ApiKey"
      summary: "Delete an api key"
      description: ""
      operationId: "delete"
      parameters:
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /api/key/{apiKeyId}/advanced:
    get:
      tags:
      - "ApiKey"
      summary: "Get an advanced api key"
      description: ""
      operationId: "get"
      parameters:
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/AdvancedApiKey"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
      security:
      - oauth:
        - "account"
    post:
      tags:
      - "ApiKey"
      summary: "Update an advanced api key"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Update for advaced api key representation"
        required: true
        schema:
          $ref: "#/definitions/AdvancedApiKeyUpdate"
        x-exportParamName: "Body"
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "ApiKey"
      summary: "Create an advanced api key"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Apply for advaced api key representation"
        required: true
        schema:
          $ref: "#/definitions/AdvancedApiKeyCreate"
        x-exportParamName: "Body"
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "ApiKey"
      summary: "Delete an advanced api key"
      description: ""
      operationId: "delete"
      parameters:
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /api/key/{apiKeyId}/token:
    get:
      tags:
      - "ApiKey"
      summary: "Get a list of api key tokens"
      description: ""
      operationId: "get"
      parameters:
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/ApiKeyToken"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    put:
      tags:
      - "ApiKey"
      summary: "Create an api key token"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Api key token create representation"
        required: true
        schema:
          $ref: "#/definitions/ApiKeyTokenCreate"
        x-exportParamName: "Body"
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/ApiKeyToken"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /api/key/{apiKeyId}/token/{id}:
    post:
      tags:
      - "ApiKey"
      summary: "Update an api key token"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Api key token update representation"
        required: true
        schema:
          $ref: "#/definitions/ApiKeyTokenUpdate"
        x-exportParamName: "Body"
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      - name: "id"
        in: "path"
        description: "The api key token id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid parameter given"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
    delete:
      tags:
      - "ApiKey"
      summary: "Delete an api key token"
      description: ""
      operationId: "delete"
      parameters:
      - name: "apiKeyId"
        in: "path"
        description: "The api key id"
        required: true
        type: "integer"
        x-exportParamName: "ApiKeyId"
      - name: "id"
        in: "path"
        description: "The api key token id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /app/account/subscription:
    get:
      tags:
      - "AccountSubscription"
      summary: "Get a list of account subscriptions"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/AccountSubscription"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /company:
    get:
      tags:
      - "Company"
      summary: "Get an list of companies"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Company"
        "401":
          description: "Not authorized"
        "403":
          description: "Not allowed"
      security:
      - oauth: []
  /notification:
    get:
      tags:
      - "Notification"
      summary: "Get all notifications attached to your account"
      description: ""
      operationId: "get"
      parameters:
      - name: "referenceId"
        in: "query"
        description: "The reference ID to the third party system"
        required: false
        type: "string"
        x-exportParamName: "ReferenceId"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Notification"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.log"
    put:
      tags:
      - "Notification"
      summary: "Create a notification configuration"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Notification representation"
        required: true
        schema:
          $ref: "#/definitions/Notification"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Notification"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock.log"
  /notification/{notificationId}:
    get:
      tags:
      - "Notification"
      summary: "Get a notification configuration"
      description: ""
      operationId: "get"
      parameters:
      - name: "notificationId"
        in: "path"
        description: "The unique notification ID"
        required: true
        type: "string"
        x-exportParamName: "NotificationId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Notification"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
      security:
      - oauth:
        - "smartlock.log"
    post:
      tags:
      - "Notification"
      summary: "Update a notification configuration"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Notification update representation"
        required: true
        schema:
          $ref: "#/definitions/Notification"
        x-exportParamName: "Body"
      - name: "notificationId"
        in: "path"
        description: "The unique notification ID"
        required: true
        type: "string"
        x-exportParamName: "NotificationId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Notification"
        "400":
          description: "Invalid parameter given"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock.log"
    delete:
      tags:
      - "Notification"
      summary: "Delete a notification configuration"
      description: ""
      operationId: "delete"
      parameters:
      - name: "notificationId"
        in: "path"
        description: "The unique notification ID"
        required: true
        type: "string"
        x-exportParamName: "NotificationId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "405":
          description: "Not allowed"
      security:
      - oauth:
        - "smartlock.log"
  /opener/brand:
    get:
      tags:
      - "Opener"
      summary: "Get all intercom brands"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenerIntercomBrand"
  /opener/brand/{brandId}:
    get:
      tags:
      - "Opener"
      summary: "Get an intercom brand"
      description: ""
      operationId: "get"
      parameters:
      - name: "brandId"
        in: "path"
        description: "The brand ID"
        required: true
        type: "integer"
        x-exportParamName: "BrandId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/OpenerIntercomBrand"
  /opener/intercom:
    get:
      tags:
      - "Opener"
      summary: "Get a list of intercom models"
      description: ""
      operationId: "get"
      parameters:
      - name: "brandId"
        in: "query"
        description: "Filter for brandId. Required if 'recentlyChanged' is not set"
        required: false
        type: "integer"
        x-exportParamName: "BrandId"
        x-optionalDataType: "Int32"
      - name: "ignoreVerified"
        in: "query"
        description: "If true, return intercoms ignoring their verified value"
        required: false
        type: "boolean"
        x-exportParamName: "IgnoreVerified"
        x-optionalDataType: "Bool"
      - name: "recentlyChanged"
        in: "query"
        description: "If true, return all intercoms which recently were updated"
        required: false
        type: "boolean"
        x-exportParamName: "RecentlyChanged"
        x-optionalDataType: "Bool"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/OpenerIntercomModel"
  /opener/intercom/{intercomId}:
    get:
      tags:
      - "Opener"
      summary: "Get an intercom model"
      description: ""
      operationId: "get"
      parameters:
      - name: "intercomId"
        in: "path"
        description: "The intercom ID"
        required: true
        type: "integer"
        x-exportParamName: "IntercomId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/OpenerIntercomModel"
  /service/{serviceId}:
    get:
      tags:
      - "Service"
      summary: "Get a service"
      description: ""
      operationId: "get"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "The service id"
        required: true
        type: "string"
        x-exportParamName: "ServiceId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Service"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /service/{serviceId}/link:
    post:
      tags:
      - "Service"
      summary: "Links a service"
      description: ""
      operationId: "post"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "The service id"
        required: true
        type: "string"
        x-exportParamName: "ServiceId"
      responses:
        "200":
          description: "Ok"
          schema:
            type: "string"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /service/{serviceId}/sync:
    post:
      tags:
      - "Service"
      summary: "Syncs a service"
      description: ""
      operationId: "post"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "The service id"
        required: true
        type: "string"
        x-exportParamName: "ServiceId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /service/{serviceId}/unlink:
    post:
      tags:
      - "Service"
      summary: "Unlinks a service"
      description: ""
      operationId: "post"
      parameters:
      - name: "serviceId"
        in: "path"
        description: "The service id"
        required: true
        type: "string"
        x-exportParamName: "ServiceId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /smartlock:
    get:
      tags:
      - "Smartlock"
      summary: "Get a list of smartlocks"
      description: ""
      operationId: "get"
      parameters:
      - name: "authId"
        in: "query"
        description: "Filter for authId"
        required: false
        type: "integer"
        x-exportParamName: "AuthId"
        x-optionalDataType: "Int32"
      - name: "type"
        in: "query"
        description: "Filter for type"
        required: false
        type: "integer"
        x-exportParamName: "Type_"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Smartlock"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock"
        - "smartlock.readOnly"
    put:
      tags:
      - "Smartlock"
      summary: "Create a smartlock"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock create representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockCreate"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Smartlock"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "409":
          description: "Smartlock already exists"
      security:
      - oauth:
        - "smartlock"
        - "smartlock.create"
  /smartlock/auth:
    get:
      tags:
      - "SmartlockAuth"
      summary: "Get a list of smartlock authorizations for your smartlocks"
      description: ""
      operationId: "get"
      parameters:
      - name: "accountUserId"
        in: "query"
        description: "Filter for account users:  set to a positive number will filter\
          \ for authorizations with this specific accountUserId, set to a negative\
          \ number will filter without set accountUserId"
        required: false
        type: "integer"
        x-exportParamName: "AccountUserId"
        x-optionalDataType: "Int32"
      - name: "types"
        in: "query"
        description: "Filter for authorization's types (comma-separated eg: 0,2,3)"
        required: false
        type: "string"
        x-exportParamName: "Types"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SmartlockAuth"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.auth"
    post:
      tags:
      - "SmartlockAuth"
      summary: "Updates smartlock authorizations asynchronously"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization update representations"
        required: true
        schema:
          type: "array"
          items:
            $ref: "#/definitions/SmartlockAuthMultiUpdate"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "409":
          description: "Parameter conflicts"
        "423":
          description: "Locked"
      security:
      - oauth:
        - "smartlock.auth"
    put:
      tags:
      - "SmartlockAuth"
      summary: "Creates asynchronous smartlock authorizations"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization create representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlocksAuthCreate"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "402":
          description: "Account not payed"
        "409":
          description: "Parameter conflicts"
        "426":
          description: "Account upgrade required"
      security:
      - oauth:
        - "smartlock.auth"
    delete:
      tags:
      - "SmartlockAuth"
      summary: "Deletes smartlock authorizations asynchronously"
      description: ""
      operationId: "delete"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization IDS to delete"
        required: true
        schema:
          type: "array"
          items:
            type: "string"
        x-exportParamName: "Body"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "423":
          description: "Locked"
      security:
      - oauth:
        - "smartlock.auth"
  /smartlock/auth/advanced:
    put:
      tags:
      - "AdvancedApi"
      summary: "Creates asynchronous smartlock authorizations"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization create representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlocksAuthAdvancedCreate"
        x-exportParamName: "Body"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AdvancedConfirmationResponse"
        "400":
          description: "Bad parameter"
        "402":
          description: "Account not payed"
        "409":
          description: "Parameter conflicts"
        "426":
          description: "Account upgrade required"
      security:
      - oauth:
        - "smartlock.auth"
  /smartlock/log:
    get:
      tags:
      - "SmartlockLog"
      summary: "Get a list of smartlock logs for all of your smartlocks"
      description: ""
      operationId: "get"
      parameters:
      - name: "accountUserId"
        in: "query"
        description: "Filter for account users"
        required: false
        type: "integer"
        x-exportParamName: "AccountUserId"
        x-optionalDataType: "Int32"
      - name: "fromDate"
        in: "query"
        description: "Filter for date (RFC3339)"
        required: false
        type: "string"
        x-exportParamName: "FromDate"
        x-optionalDataType: "String"
      - name: "toDate"
        in: "query"
        description: "Filter for date (RFC3339)"
        required: false
        type: "string"
        x-exportParamName: "ToDate"
        x-optionalDataType: "String"
      - name: "action"
        in: "query"
        description: "Filter for action"
        required: false
        type: "integer"
        x-exportParamName: "Action"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "query"
        description: "Filter for older logs"
        required: false
        type: "integer"
        x-exportParamName: "Id"
        x-optionalDataType: "Int32"
      - name: "limit"
        in: "query"
        description: "Amount of logs (max: 50)"
        required: false
        type: "integer"
        default: 20
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SmartlockLog"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.log"
  /smartlock/{smartlockId}:
    get:
      tags:
      - "Smartlock"
      summary: "Get a smartlock"
      description: ""
      operationId: "get"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Smartlock"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "404":
          description: "Not found"
      security:
      - oauth:
        - "smartlock"
        - "smartlock.readOnly"
    post:
      tags:
      - "Smartlock"
      summary: "Update a smartlock"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock update representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockUpdate"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Invalid parameter given"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock"
    delete:
      tags:
      - "Smartlock"
      summary: "Delete a smartlock"
      description: ""
      operationId: "delete"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock"
  /smartlock/{smartlockId}/action:
    post:
      tags:
      - "Smartlock"
      summary: "Lock & unlock a smartlock with options"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock action representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockAction"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "402":
          description: "Account not payed"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/action/advanced:
    post:
      tags:
      - "AdvancedApi"
      summary: "Smartlock Action with Callback"
      description: ""
      operationId: "action"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock action representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockAction"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AdvancedConfirmationResponse"
        "400":
          description: "Bad parameter"
        "402":
          description: "Account not payed"
        "409":
          description: "Parameter conflicts"
        "426":
          description: "Account upgrade required"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/action/lock:
    post:
      tags:
      - "Smartlock"
      summary: "Lock a smartlock"
      description: ""
      operationId: "postLock"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "405":
          description: "Not allowed"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/action/lock/advanced:
    post:
      tags:
      - "AdvancedApi"
      summary: "Lock a smartlock"
      description: ""
      operationId: "postLock"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AdvancedConfirmationResponse"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "405":
          description: "Not allowed"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/action/unlock:
    post:
      tags:
      - "Smartlock"
      summary: "Unlock a smartlock"
      description: ""
      operationId: "postUnlock"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "405":
          description: "Not allowed"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/action/unlock/advanced:
    post:
      tags:
      - "AdvancedApi"
      summary: "Unlock a smartlock"
      description: ""
      operationId: "postLock"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "200":
          description: "Ok"
          schema:
            $ref: "#/definitions/AdvancedConfirmationResponse"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
        "405":
          description: "Not allowed"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/admin/pin:
    post:
      tags:
      - "Smartlock"
      summary: "Updates a smartlock admin pin"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock admin pin update representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockAdminPinUpdate"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /smartlock/{smartlockId}/advanced/config:
    post:
      tags:
      - "Smartlock"
      summary: "Updates a smartlock advanced config"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock config update representation"
        required: true
        schema:
          $ref: "#/definitions/Smartlock.AdvancedConfig"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /smartlock/{smartlockId}/advanced/openerconfig:
    post:
      tags:
      - "Smartlock"
      summary: "Updates an opener advanced config"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Opener advanced config update representation"
        required: true
        schema:
          $ref: "#/definitions/Smartlock.OpenerAdvancedConfig"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock (opener) id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /smartlock/{smartlockId}/advanced/smartdoorconfig:
    post:
      tags:
      - "Smartlock"
      summary: "Updates a smartdoor advanced config"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartdoor advanced config update representation"
        required: true
        schema:
          $ref: "#/definitions/Smartlock.SmartdoorAdvancedConfig"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartdoor id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /smartlock/{smartlockId}/auth:
    get:
      tags:
      - "SmartlockAuth"
      summary: "Get a list of smartlock authorizations"
      description: ""
      operationId: "get"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      - name: "types"
        in: "query"
        description: "Filter for smartlock authorization's types (comma-separated\
          \ eg: 0,2,3)"
        required: false
        type: "string"
        x-exportParamName: "Types"
        x-optionalDataType: "String"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SmartlockAuth"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock.auth"
    put:
      tags:
      - "SmartlockAuth"
      summary: "Creates asynchronous a smartlock authorization"
      description: ""
      operationId: "put"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization create representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockAuthCreate"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "402":
          description: "Account not payed"
        "409":
          description: "Parameter conflicts"
        "426":
          description: "Account upgrade required"
      security:
      - oauth:
        - "smartlock.auth"
  /smartlock/{smartlockId}/auth/{id}:
    get:
      tags:
      - "SmartlockAuth"
      summary: "Get a smartlock authorization"
      description: ""
      operationId: "get"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      - name: "id"
        in: "path"
        description: "The smartlock auth unique id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/SmartlockAuth"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
      security:
      - oauth:
        - "smartlock.auth"
    post:
      tags:
      - "SmartlockAuth"
      summary: "Updates asynchronous a smartlock authorization"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock authorization update representation"
        required: true
        schema:
          $ref: "#/definitions/SmartlockAuthUpdate"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      - name: "id"
        in: "path"
        description: "The smartlock authorization unique id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "409":
          description: "Parameter conflicts"
        "423":
          description: "Locked"
      security:
      - oauth:
        - "smartlock.auth"
    delete:
      tags:
      - "SmartlockAuth"
      summary: "Deletes asynchronous a smartlock authorization"
      description: ""
      operationId: "delete"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      - name: "id"
        in: "path"
        description: "The smartlock authorization unique id"
        required: true
        type: "string"
        x-exportParamName: "Id"
      responses:
        "204":
          description: "Ok"
        "401":
          description: "Not authorized"
        "403":
          description: "Forbidden"
        "423":
          description: "Locked"
      security:
      - oauth:
        - "smartlock.auth"
  /smartlock/{smartlockId}/config:
    post:
      tags:
      - "Smartlock"
      summary: "Updates a smartlock config"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock config update representation"
        required: true
        schema:
          $ref: "#/definitions/Smartlock.Config"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /smartlock/{smartlockId}/log:
    get:
      tags:
      - "SmartlockLog"
      summary: "Get a list of smartlock logs"
      description: ""
      operationId: "get"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      - name: "authId"
        in: "query"
        description: "Filter for auths"
        required: false
        type: "string"
        x-exportParamName: "AuthId"
        x-optionalDataType: "String"
      - name: "accountUserId"
        in: "query"
        description: "Filter for account users"
        required: false
        type: "integer"
        x-exportParamName: "AccountUserId"
        x-optionalDataType: "Int32"
      - name: "fromDate"
        in: "query"
        description: "Filter for date (RFC3339)"
        required: false
        type: "string"
        x-exportParamName: "FromDate"
        x-optionalDataType: "String"
      - name: "toDate"
        in: "query"
        description: "Filter for date (RFC3339)"
        required: false
        type: "string"
        x-exportParamName: "ToDate"
        x-optionalDataType: "String"
      - name: "action"
        in: "query"
        description: "Filter for action"
        required: false
        type: "integer"
        x-exportParamName: "Action"
        x-optionalDataType: "Int32"
      - name: "id"
        in: "query"
        description: "Filter for older logs"
        required: false
        type: "string"
        x-exportParamName: "Id"
        x-optionalDataType: "String"
      - name: "limit"
        in: "query"
        description: "Amount of logs (max: 50)"
        required: false
        type: "integer"
        default: 20
        x-exportParamName: "Limit"
        x-optionalDataType: "Int32"
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/SmartlockLog"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.log"
  /smartlock/{smartlockId}/sync:
    post:
      tags:
      - "Smartlock"
      summary: "Syncs a smartlock"
      description: ""
      operationId: "post"
      parameters:
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "string"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad Parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.action"
  /smartlock/{smartlockId}/web/config:
    post:
      tags:
      - "Smartlock"
      summary: "Updates a smartlock web config"
      description: ""
      operationId: "post"
      parameters:
      - in: "body"
        name: "body"
        description: "Smartlock web config update representation"
        required: true
        schema:
          $ref: "#/definitions/Smartlock.WebConfig"
        x-exportParamName: "Body"
      - name: "smartlockId"
        in: "path"
        description: "The smartlock id"
        required: true
        type: "integer"
        x-exportParamName: "SmartlockId"
      responses:
        "204":
          description: "Ok"
        "400":
          description: "Bad parameter"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "smartlock.config"
  /subscription:
    get:
      tags:
      - "Subscription"
      summary: "Get a list of subscriptions"
      description: ""
      operationId: "get"
      parameters: []
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/Subscription"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
  /subscription/{subscriptionId}:
    get:
      tags:
      - "Subscription"
      summary: "Get a subscription"
      description: ""
      operationId: "get"
      parameters:
      - name: "subscriptionId"
        in: "path"
        description: "The subscription id"
        required: true
        type: "integer"
        x-exportParamName: "SubscriptionId"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Subscription"
        "401":
          description: "Not authorized"
      security:
      - oauth:
        - "account"
securityDefinitions:
  api_key:
    type: "apiKey"
    name: "Api-key"
    in: "header"
  oauth:
    type: "oauth2"
    authorizationUrl: "/oauth/authorize"
    flow: "implicit"
    scopes:
      account: "View and manage your account"
      notification: "View and manage your notifications"
      smartlock: "View and manage your smartlocks"
      smartlock.readOnly: "View your smartlocks"
      smartlock.action: "Operate your smartlocks"
      smartlock.auth: "View and manage your smartlock authorizations"
      smartlock.config: "Manage your smartlock config"
      smartlock.log: "View your activity logs and get log notifications"
      smartlock.create: "Create smartlocks"
definitions:
  Account:
    type: "object"
    required:
    - "accountId"
    - "creationDate"
    - "email"
    - "name"
    - "type"
    - "updateDate"
    properties:
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      type:
        type: "integer"
        format: "int32"
        description: "The type: 0 .. user, 1 .. company, 2 .. caretaker"
        minimum: 0
        maximum: 2
      email:
        type: "string"
        description: "The email address"
      name:
        type: "string"
        description: "The name"
      masterAccountId:
        type: "integer"
        format: "int32"
        description: "The master account id if it's a sub account"
      rights:
        type: "integer"
        format: "int32"
        description: "The rights bitmask if it's a sub account: 1 .. manage smartlock,\
          \ 2 .. operate smartlock, 4 .. manage smartlock config, 8 .. manage smartlock\
          \ authorizations, 16 .. view smartlock logs, 32 .. manage sub accounts,\
          \ 64 .. create smartlocks"
        minimum: 0
        maximum: 127
      language:
        type: "string"
        example: "de"
        description: "The language code"
      config:
        description: "The optional config"
        $ref: "#/definitions/Account.Config"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      accountId: 0
      updateDate: "2000-01-23T04:56:07.000+00:00"
      rights: 75
      profile:
        zip: "zip"
        firstName: "firstName"
        lastName: "lastName"
        country: "country"
        address: "address"
        city: "city"
      name: "name"
      language: "de"
      type: 1
      creationDate: "2000-01-23T04:56:07.000+00:00"
      masterAccountId: 1
      config:
        otpEnabledDate: "2000-01-23T04:56:07.000+00:00"
        alexaPin: "alexaPin"
        gactionsHomePin: "gactionsHomePin"
      email: "email"
  Account.Config:
    type: "object"
    required:
    - "alexaPin"
    - "gactionsHomePin"
    properties:
      alexaPin:
        type: "string"
        description: "The alexa pin - used by alexa for unlock actions"
      gactionsHomePin:
        type: "string"
        description: "The google smart home pin - used for unlock actions"
      otpEnabledDate:
        type: "string"
        format: "date-time"
        description: "The opt enabled date"
    example:
      otpEnabledDate: "2000-01-23T04:56:07.000+00:00"
      alexaPin: "alexaPin"
      gactionsHomePin: "gactionsHomePin"
  Account.Profile:
    type: "object"
    required:
    - "address"
    - "city"
    - "country"
    - "firstName"
    - "lastName"
    - "zip"
    properties:
      firstName:
        type: "string"
        description: "The first name"
      lastName:
        type: "string"
        description: "The last name"
      address:
        type: "string"
        description: "The address"
      zip:
        type: "string"
        description: "The postal code"
      city:
        type: "string"
        description: "The city"
      country:
        type: "string"
        description: "The 2-letter country code"
    example:
      zip: "zip"
      firstName: "firstName"
      lastName: "lastName"
      country: "country"
      address: "address"
      city: "city"
  AccountCreate:
    type: "object"
    required:
    - "email"
    - "language"
    - "name"
    - "password"
    properties:
      email:
        type: "string"
        description: "The email address"
      password:
        type: "string"
        description: "The password (must be at least 5 chars long)"
      name:
        type: "string"
        description: "The name"
      language:
        type: "string"
        example: "de"
        description: "The language code"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
  AccountOtpEnable:
    type: "object"
    required:
    - "otp"
    properties:
      otp:
        type: "string"
        description: "The one time password (otp)"
  AccountPasswordReset:
    type: "object"
    required:
    - "email"
    properties:
      email:
        type: "string"
  AccountSetting:
    type: "object"
    properties:
      web:
        description: "The account settings for Nuki Web"
        $ref: "#/definitions/AccountSetting.Web"
    example:
      web:
        deviceViewType: "LIST"
        nukiClubDismissed: true
        deviceSortType: "FAVOURITES_FIRST"
  AccountSetting.Web:
    type: "object"
    properties:
      deviceViewType:
        type: "string"
        description: "The initial view type of the device page"
        enum:
        - "LIST"
        - "TILE"
      deviceSortType:
        type: "string"
        description: "The initial sort type of the device page"
        enum:
        - "FAVOURITES_FIRST"
        - "NAME_ASC"
        - "NAME_DESC"
        - "LAST_ADDED_DESC"
      nukiClubDismissed:
        type: "boolean"
        description: "If true, Nuki Club info is dismissed and no banner is shown"
    example:
      deviceViewType: "LIST"
      nukiClubDismissed: true
      deviceSortType: "FAVOURITES_FIRST"
  AccountSubCreate:
    type: "object"
    required:
    - "email"
    - "language"
    - "name"
    - "password"
    - "rights"
    properties:
      email:
        type: "string"
        example: "test@test.at"
        description: "The email address"
      password:
        type: "string"
        description: "The password (must be at least 5 chars long)"
      name:
        type: "string"
        description: "The name of the sub account"
      rights:
        type: "integer"
        format: "int32"
        description: "The right bitmask of the sub account: 1 .. operate smartlock,\
          \ 2 .. change smartlock config, 4 .. manage smartlock users, 8 .. view smartlock\
          \ logs, 16 .. manage sub accounts"
        minimum: 0
        maximum: 31
      language:
        type: "string"
        example: "de"
        description: "The language code"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
  AccountSubUpdate:
    type: "object"
    required:
    - "language"
    properties:
      email:
        type: "string"
        example: "test@test.at"
        description: "The new email address"
      password:
        type: "string"
        description: "The new password (must be at least 5 chars long)"
      name:
        type: "string"
        description: "The new name of the sub account"
      rights:
        type: "integer"
        format: "int32"
        description: "The new right bitmask of the sub account: 1 .. operate smartlock,\
          \ 2 .. change smartlock config, 4 .. manage smartlock users, 8 .. view smartlock\
          \ logs, 16 .. manage sub accounts, 32 .. manage sub accounts, 64 .. create\
          \ smartlocks"
        minimum: 0
        maximum: 127
      language:
        type: "string"
        example: "de"
        description: "The language code"
      config:
        description: "The optional config"
        $ref: "#/definitions/Account.Config"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
  AccountSubscription:
    type: "object"
    required:
    - "accountId"
    - "id"
    - "paymentType"
    - "period"
    - "quantity"
    - "status"
    - "subscriptionId"
    properties:
      id:
        description: "The id"
        $ref: "#/definitions/ObjectId"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      subscriptionId:
        type: "integer"
        format: "int32"
        description: "The subscription id"
      period:
        type: "integer"
        format: "int32"
        description: "The actual period"
      paymentType:
        type: "string"
        description: "The payment type"
        enum:
        - "free"
        - "paypal"
        - "card"
        - "account"
      quantity:
        type: "integer"
        format: "int32"
        description: "The quantity of authorizations"
      giftArticle:
        type: "string"
        description: "The optional gift article after first purchase"
      status:
        type: "string"
        description: "The status"
        enum:
        - "active"
        - "deactivated"
        - "finished"
      startDate:
        type: "integer"
        format: "int64"
        description: "The start date"
      periodEndDate:
        type: "integer"
        format: "int64"
        description: "The period end date"
      nextPaymentDate:
        type: "integer"
        format: "int64"
        description: "The next payment date"
    example:
      accountId: 7
      period: 3
      nextPaymentDate: 1
      quantity: 2
      giftArticle: "giftArticle"
      id:
        date: "2000-01-23T04:56:07.000+00:00"
        machineIdentifier: 6
        processIdentifier: 1
        counter: 5
        time: 5
        timestamp: 0
        timeSecond: 2
      subscriptionId: 9
      startDate: 4
      periodEndDate: 7
      paymentType: "free"
      status: "active"
  AccountUpdate:
    type: "object"
    required:
    - "language"
    properties:
      email:
        type: "string"
        example: "test@test.at"
        description: "The new email address"
      password:
        type: "string"
        description: "The password (must be at least 5 chars long)"
      name:
        type: "string"
        description: "The name of the account"
      language:
        type: "string"
        example: "de"
        description: "The language code"
      config:
        description: "The optional config"
        $ref: "#/definitions/Account.Config"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
  AccountUser:
    type: "object"
    required:
    - "accountId"
    - "accountUserId"
    - "creationDate"
    - "email"
    - "name"
    - "updateDate"
    properties:
      accountUserId:
        type: "integer"
        format: "int32"
        description: "The account user id"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      type:
        type: "integer"
        format: "int32"
        description: "The optional type: 0 .. user, 1 .. company"
        minimum: 0
        maximum: 1
      email:
        type: "string"
        description: "The email address"
      name:
        type: "string"
        description: "The name"
      language:
        type: "string"
        example: "de"
        description: "The language code"
      operationId:
        type: "string"
        description: "The operation id - if set it's locked for another operation"
        readOnly: true
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      accountId: 6
      updateDate: "2000-01-23T04:56:07.000+00:00"
      name: "name"
      operationId: "operationId"
      language: "de"
      type: 0
      creationDate: "2000-01-23T04:56:07.000+00:00"
      email: "email"
      accountUserId: 0
  AccountUserCreate:
    type: "object"
    required:
    - "email"
    - "name"
    properties:
      type:
        type: "integer"
        format: "int32"
        description: "The optional type - only allowed for caretakers: 0 .. user,\
          \ 1 .. company"
        minimum: 0
        maximum: 1
      email:
        type: "string"
        description: "The email address"
      name:
        type: "string"
        description: "The name"
      language:
        type: "string"
        description: "The language code"
        enum:
        - "en"
        - "de"
        - "es"
        - "fr"
        - "it"
        - "nl"
        - "cs"
        - "sk"
  AccountUserUpdate:
    type: "object"
    properties:
      email:
        type: "string"
        example: "test@test.at"
        description: "The new email address"
      name:
        type: "string"
        description: "The new name of the sub account"
      language:
        type: "string"
        description: "The new language code"
        enum:
        - "en"
        - "de"
        - "es"
        - "fr"
        - "it"
        - "nl"
        - "cs"
        - "sk"
  Address:
    type: "object"
    required:
    - "accountId"
    - "addressId"
    - "creationDate"
    - "name"
    - "smartlockIds"
    - "updateDate"
    properties:
      addressId:
        type: "integer"
        format: "int32"
        description: "The address id"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      name:
        type: "string"
        description: "The name of the address"
      smartlockIds:
        type: "array"
        description: "The smartlocks for this address"
        items:
          type: "integer"
          format: "int64"
      serviceId:
        type: "string"
        description: "The optional service id if the address is from an partner service"
        enum:
        - "airbnb"
        - "bookingsync"
      timeZone:
        type: "string"
        description: "The timezone"
      checkInTime:
        type: "integer"
        format: "int32"
        description: "The optional check in time (minutes of the day)"
      checkOutTime:
        type: "integer"
        format: "int32"
        description: "The optional check out time (minutes of the day)"
      settings:
        type: "object"
        description: "The optional settings object"
        additionalProperties:
          type: "object"
          properties: {}
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      accountId: 6
      settings:
        key: "{}"
      updateDate: "2000-01-23T04:56:07.000+00:00"
      checkOutTime: 5
      smartlockIds:
      - 1
      - 1
      checkInTime: 5
      name: "name"
      timeZone: "timeZone"
      serviceId: "airbnb"
      creationDate: "2000-01-23T04:56:07.000+00:00"
      addressId: 0
  AddressReservation:
    type: "object"
    required:
    - "accountId"
    - "addressId"
    - "automation"
    - "email"
    - "endDate"
    - "guests"
    - "guestsIssued"
    - "id"
    - "keypadIssued"
    - "name"
    - "startDate"
    - "state"
    - "updateDate"
    properties:
      id:
        type: "string"
        description: "The id"
      addressId:
        type: "integer"
        format: "int32"
        description: "The address id"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      email:
        type: "string"
        description: "The email of the guest"
      name:
        type: "string"
        description: "The name of the guest"
      guests:
        type: "integer"
        format: "int32"
        description: "The number of guests"
      guestsIssued:
        type: "integer"
        format: "int32"
        description: "The number of guests issued"
      keypadIssued:
        type: "boolean"
        description: "True if a keypad authorization was issued"
      state:
        type: "string"
        description: "The state"
        enum:
        - "canceled"
        - "accepted"
      serviceId:
        type: "string"
        description: "The optional service id if the address is from an partner service"
        enum:
        - "airbnb"
        - "bookingsync"
      reference:
        type: "string"
        description: "The reference (booking code)"
      automation:
        type: "integer"
        format: "int32"
        description: "The automation state"
      checkedIn:
        type: "boolean"
        description: "True if the user has checked in, false if the check in is pending,\
          \ null if it isn't monitored"
      startDate:
        type: "string"
        format: "date-time"
        description: "The start date"
      endDate:
        type: "string"
        format: "date-time"
        description: "The end date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      keypadIssued: true
      updateDate: "2000-01-23T04:56:07.000+00:00"
      checkedIn: true
      endDate: "2000-01-23T04:56:07.000+00:00"
      guestsIssued: 5
      addressId: 0
      reference: "reference"
      accountId: 6
      automation: 5
      name: "name"
      guests: 1
      id: "id"
      state: "canceled"
      serviceId: "airbnb"
      email: "email"
      startDate: "2000-01-23T04:56:07.000+00:00"
  AddressToken:
    type: "object"
    required:
    - "addressId"
    - "creationDate"
    - "id"
    - "redeemAccountId"
    - "redeemDate"
    properties:
      id:
        type: "string"
        description: "The id"
      addressId:
        type: "integer"
        format: "int32"
        description: "The address id"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      redeemDate:
        type: "string"
        format: "date-time"
        description: "The redeem date"
      redeemAccountId:
        type: "integer"
        format: "int32"
        description: "The redeem account id"
      inviteKeys:
        type: "array"
        description: "The list of invite keys"
        items:
          type: "string"
      redeemResult:
        type: "string"
        description: "The redeem result"
        enum:
        - "ok"
        - "failed"
    example:
      redeemDate: "2000-01-23T04:56:07.000+00:00"
      inviteKeys:
      - "inviteKeys"
      - "inviteKeys"
      redeemAccountId: 6
      id: "id"
      creationDate: "2000-01-23T04:56:07.000+00:00"
      addressId: 0
      redeemResult: "ok"
  AddressTokenInfo:
    type: "object"
    required:
    - "addressName"
    - "id"
    - "smartlockNames"
    properties:
      id:
        type: "string"
        description: "The id"
      addressName:
        type: "string"
        description: "The address name"
      smartlockNames:
        type: "array"
        description: "The associated smartlock names"
        items:
          type: "string"
    example:
      smartlockNames:
      - "smartlockNames"
      - "smartlockNames"
      addressName: "addressName"
      id: "id"
  AddressUpdate:
    type: "object"
    required:
    - "smartlockIds"
    properties:
      smartlockIds:
        type: "array"
        description: "The smartlocks for this address"
        items:
          type: "integer"
          format: "int64"
      settings:
        type: "object"
        description: "The optional settings"
        additionalProperties:
          type: "object"
          properties: {}
  AdvancedApiKey:
    type: "object"
    required:
    - "country"
    - "creationDate"
    - "description"
    - "email"
    - "name"
    - "secret"
    - "status"
    - "type"
    - "updateDate"
    - "url"
    - "webhookFeatures"
    - "webhookUrl"
    properties:
      name:
        type: "string"
        description: "The name of the company for which you apply for access"
      country:
        type: "string"
        description: "The country of the headquarter or the country where you are\
          \ mainly doing business in"
      description:
        type: "string"
        description: "Describe the services and/or products you offer to your customers\
          \ and how your customers would use Nuki devices in their processes"
      type:
        type: "string"
        description: "The application type"
        enum:
        - "ONLY_SECRET"
        - "SHORT_RENTAL"
        - "HEALTHCARE"
        - "SMART_HOME"
        - "OTHER"
      url:
        type: "string"
        description: "A website where we can find more information on the company\
          \ and its business model"
      email:
        type: "string"
        description: "An email address where we can contact you for checks on your\
          \ application"
      webhookUrl:
        type: "string"
        description: "The URL where our webhooks should point to"
      webhookFeatures:
        type: "array"
        description: "The features to trigger webhooks, for all types except 'ONLY_SECRET'"
        uniqueItems: true
        items:
          type: "string"
          enum:
          - "DEVICE_STATUS"
          - "DEVICE_MASTERDATA"
          - "DEVICE_CONFIG"
          - "DEVICE_LOGS"
          - "DEVICE_AUTHS"
          - "ACCOUNT_USER"
      secret:
        type: "string"
        description: "The client secret, visible if application is approved (status\
          \ >= 'TESTING')"
      status:
        type: "string"
        description: "The application status"
        enum:
        - "INACTIVE"
        - "APPLIED"
        - "TESTING"
        - "ACTIVE"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      country: "country"
      webhookFeatures:
      - "DEVICE_STATUS"
      - "DEVICE_STATUS"
      updateDate: "2000-01-23T04:56:07.000+00:00"
      name: "name"
      description: "description"
      secret: "secret"
      type: "ONLY_SECRET"
      creationDate: "2000-01-23T04:56:07.000+00:00"
      url: "url"
      email: "email"
      webhookUrl: "webhookUrl"
      status: "INACTIVE"
  AdvancedApiKeyCreate:
    type: "object"
    required:
    - "country"
    - "description"
    - "email"
    - "name"
    - "type"
    - "url"
    - "webhookFeatures"
    - "webhookUrl"
    properties:
      name:
        type: "string"
        description: "The name of the company for which you apply for access"
      country:
        type: "string"
        description: "The country of the headquarter or the country where you are\
          \ mainly doing business in"
      description:
        type: "string"
        description: "Describe the services and/or products you offer to your customers\
          \ and how your customers would use Nuki devices in their processes"
      type:
        type: "string"
        description: "The application type"
        enum:
        - "ONLY_SECRET"
        - "SHORT_RENTAL"
        - "HEALTHCARE"
        - "SMART_HOME"
        - "OTHER"
      url:
        type: "string"
        description: "A website where we can find more information on the company\
          \ and its business model"
      email:
        type: "string"
        description: "An email address where we can contact you for checks on your\
          \ application"
      webhookUrl:
        type: "string"
        description: "The URL where our webhooks should point to"
      webhookFeatures:
        type: "array"
        description: "The features to trigger webhooks, for all types except 'ONLY_SECRET'"
        uniqueItems: true
        items:
          type: "string"
          enum:
          - "DEVICE_STATUS"
          - "DEVICE_MASTERDATA"
          - "DEVICE_CONFIG"
          - "DEVICE_LOGS"
          - "DEVICE_AUTHS"
          - "ACCOUNT_USER"
  AdvancedApiKeyUpdate:
    type: "object"
    required:
    - "webhookFeatures"
    - "webhookUrl"
    properties:
      webhookUrl:
        type: "string"
        description: "The URL where our webhooks should point to"
      webhookFeatures:
        type: "array"
        description: "The features to trigger webhooks, for all types except 'ONLY_SECRET'"
        uniqueItems: true
        items:
          type: "string"
          enum:
          - "DEVICE_STATUS"
          - "DEVICE_MASTERDATA"
          - "DEVICE_CONFIG"
          - "DEVICE_LOGS"
          - "DEVICE_AUTHS"
          - "ACCOUNT_USER"
  AdvancedConfirmationResponse:
    type: "object"
    required:
    - "requestId"
    properties:
      requestId:
        type: "string"
        description: "A UUID to identify the upcoming asynchronously web hook response"
    example:
      requestId: "requestId"
  ApiKey:
    type: "object"
    required:
    - "accountId"
    - "apiKeyId"
    - "creationDate"
    properties:
      apiKeyId:
        type: "integer"
        format: "int32"
        description: "The id"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      description:
        type: "string"
        description: "The description"
      redirectUris:
        type: "array"
        description: "The redirect uris"
        items:
          type: "string"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      apiKey:
        type: "string"
        description: "The api key"
    example:
      accountId: 6
      apiKey: "apiKey"
      apiKeyId: 0
      description: "description"
      creationDate: "2000-01-23T04:56:07.000+00:00"
      redirectUris:
      - "redirectUris"
      - "redirectUris"
  ApiKeyCreate:
    type: "object"
    properties:
      description:
        type: "string"
        description: "The description"
      redirectUris:
        type: "array"
        description: "The list of redirect uris"
        items:
          type: "string"
  ApiKeyToken:
    type: "object"
    required:
    - "accountId"
    - "creationDate"
    - "id"
    - "scopes"
    properties:
      id:
        type: "string"
        description: "The id"
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      description:
        type: "string"
        description: "The description"
      accessToken:
        type: "string"
        description: "The access token"
      scopes:
        type: "array"
        description: "The list of scopes"
        items:
          type: "string"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
    example:
      accountId: 0
      description: "description"
      id: "id"
      scopes:
      - "scopes"
      - "scopes"
      accessToken: "accessToken"
      creationDate: "2000-01-23T04:56:07.000+00:00"
  ApiKeyTokenCreate:
    type: "object"
    properties:
      description:
        type: "string"
        description: "The description"
      scopes:
        type: "array"
        description: "The list of scopes"
        items:
          type: "string"
  ApiKeyTokenUpdate:
    type: "object"
    properties:
      description:
        type: "string"
        description: "The description"
      scopes:
        type: "array"
        description: "The list of scopes"
        items:
          type: "string"
  ApiKeyUpdate:
    type: "object"
    properties:
      description:
        type: "string"
        description: "The description"
      redirectUris:
        type: "array"
        description: "The list of redirect uris"
        items:
          type: "string"
  Company:
    type: "object"
    properties:
      name:
        type: "string"
      email:
        type: "string"
    example:
      name: "name"
      email: "email"
  MyAccount:
    type: "object"
    required:
    - "accountId"
    - "creationDate"
    - "email"
    - "name"
    - "type"
    - "updateDate"
    properties:
      accountId:
        type: "integer"
        format: "int32"
        description: "The account id"
      type:
        type: "integer"
        format: "int32"
        description: "The type: 0 .. user, 1 .. company, 2 .. caretaker"
        minimum: 0
        maximum: 2
      email:
        type: "string"
        description: "The email address"
      name:
        type: "string"
        description: "The name"
      masterAccountId:
        type: "integer"
        format: "int32"
        description: "The master account id if it's a sub account"
      rights:
        type: "integer"
        format: "int32"
        description: "The rights bitmask if it's a sub account: 1 .. manage smartlock,\
          \ 2 .. operate smartlock, 4 .. manage smartlock config, 8 .. manage smartlock\
          \ authorizations, 16 .. view smartlock logs, 32 .. manage sub accounts,\
          \ 64 .. create smartlocks"
        minimum: 0
        maximum: 127
      language:
        type: "string"
        example: "de"
        description: "The language code"
      config:
        description: "The optional config"
        $ref: "#/definitions/Account.Config"
      profile:
        description: "The optional profile"
        $ref: "#/definitions/Account.Profile"
      secret:
        type: "array"
        description: "The secret base64 encoded"
        items:
          type: "string"
          format: "byte"
          pattern: "^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$"
      creationDate:
        type: "string"
        format: "date-time"
        description: "The creation date"
      updateDate:
        type: "string"
        format: "date-time"
        description: "The update date"
    example:
      accountId: 0
      updateDate: "2000-01-23T04:56:07.000+00:00"
      rights: 75
      profile:
        zip: "zip"
        firstName: "firstName"
        lastName: "lastName"
        country: "country"
        address: "address"
        city: "city"
      name: "name"
      language: "de"
      secret:
      - "secret"
      - "secret"
      type: 1
      creationDate: "2000-01-23T04:56:07.000+00:00"
      masterAccountId: 1
      config:
        otpEnabledDate: "2000-01-23T04:56:07.000+00:00"
        alexaPin: "alexaPin"
        gactionsHomePin: "gactionsHomePin"
      email: "email"
  Notification:
    type: "object"
    required:
    - "notificationId"
    - "os"
    - "pushId"
    - "settings"
    properties:
      notificationId:
        type: "string"
        description: "The unique notificationId for the notification"
      referenceId:
        type: "string"
        description: "The reference ID, an ID to identify a foreign system"
      pushId:
        type: "string"
        description: "The push ID or the POST URL for a webhook"
      secret:
        type: "string"
        example: "8d41a187c3954f886f9de3a88c2ef22df0eac190"
        description: "The 40 byte hex string to sign the checksumof the POST payload\
          \ if the notification is webhook (os=2)"
      os:
        type: "integer"
        format: "int32"
        description: "The operating system: 0 .. Android, 1 .. iOS, 2 .. web hook"
      language:
        type: "string"
        description: "The language of push messages: cs, de, en (default), es, fr,\
          \ it, nl, sk"
      status:
        type: "integer"
        format: "int32"
        description: "Current state: 0 .. init, 1 .. active, 2 .. failed"
      lastActiveDate:
        type: "string"
        format: "date-time"
        description: "The last active date"
      settings:
        type: "array"
        description: "Settings per Smart Lock"
        items:
          $ref: "#/definitions/Notification.Setting"
    example:
      pushId: "pushId"
      settings:
      - smartlockId: 1
        authIds:
        - "authIds"
        - "authIds"
        triggerEvents:
        - "triggerEvents"
        - "triggerEvents"
      - smartlockId: 1
        authIds:
        - "authIds"
        - "authIds"
        triggerEvents:
        - "triggerEvents"
        - "triggerEvents"
      os: 0
      lastActiveDate: "2000-01-23T04:56:07.000+00:00"
      notificationId: "notificationId"
      language: "language"
      secret: "8d41a187c3954f886f9de3a88c2ef22df0eac190"
      referenceId: "referenceId"
      status: 6
  Notification.Setting:
    type: "object"
    required:
    - "triggerEvents"
    properties:
      smartlockId:
        type: "integer"
        format: "int64"
        description: "The smartlock ID, if not set all Smart Locks of the account\
          \  are enabled for push notifications"
      triggerEvents:
        type: "array"
        description: "A set on which push notifications should be triggered: lock,\
          \ unlock, unlatch, lockngo, open, ring, doorsensor, warnings, smartlock"
        uniqueItems: true
        items:
[...]
